/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    line-height: 1.5;
}

/* Title Box Container */
.title-box {
    background-color: #FF9E1B; /* Naranja del rectángulo */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Variable Text Style */
.variable-text {
    font-size: 22px;
    color: #FFFFFF; /* Color blanco de los encabezados */
    margin: 0;
    text-align: left;
}

/* Plain Text Style */
.plain-text {
    font-size: 18px;
    color: #407EC8; /* Azul para "Elección de Premio" */
    margin: 0;
    text-align: left;
}

/* Image Styles */
img {
    width: 100%;
    max-width: 1800px;
    height: auto;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* Page Breaks */
div[style*="page-break-before"] {
    margin-top: 50px;
}
