/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    line-height: 1.5;
}

/* Title Box Container */
.title-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura la separación entre el título y el logo */
}

/* Title Box */
.title-box {
    background-color: #F59B25; /* Naranja del rectángulo */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    max-width: 75%; /* Evita que el título se reduzca demasiado */
}

/* Variable Text Style */
.variable-text {
    font-size: 22px;
    color: #FFFFFF; /* Color blanco de los encabezados */
    margin: 0;
    text-align: left;
}

/* Plain Text Style */
.plain-text {
    font-size: 18px;
    color: #407CBF; /* Azul para "Elección de Premio" */
    margin: 0;
    text-align: left;
}

/* Logo Style */
.logo {
    height: 100px; /* Fija la altura del logo */
    width: auto; /* Asegura que la imagen mantenga su relación de aspecto */
    margin-left: 20px; /* Espacio entre el rectángulo y el logo */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del espacio */
}

/* Image Styles */
img {
    width: 100%;
    max-width: 1000px;
    max-height: 500px; /* Limita la altura máxima para evitar que ocupe demasiado espacio */
    height: auto;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* Ensure section stays on a single page */
.section {
    page-break-inside: avoid;
    margin-bottom: 20px; /* Reduce el margen inferior para evitar hojas en blanco */
    display: block; /* Se asegura que el contenedor ocupe todo el ancho */
}

/* Page Breaks */
div[style*="page-break-before"] {
    margin-top: 0; /* Evita márgenes grandes al iniciar una nueva página */
}

/* Avoid unnecessary white space at the end of pages */
body > div:last-child {
    margin-bottom: 0;
}
